VITE_API_URL=http://localhost:8000
VITE_APP_SECURITY_TOKEN=sameAsBackendAppSecurityToken

## .env is on gitignore for security reasons! but this is how you can use it. Just copy this file to .env and fill in the values.