DATABASE_URL=yourPostGresConnectionString
GEMINI_API_KEY=yourGoogleGeminiApiKey
ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
## .env is on gitignore for security reasons! but this is how you can use it. Just copy this file to .env and fill in the values.

