DATABASE_URL=yourPostGresConnectionString
GEMINI_API_KEY=yourGoogleGeminiApiKey

## .env is on gitignore for security reasons! but this is how you can use it. Just copy this file to .env and fill in the values.

